input[type=email] {
    border: none;
    background-color: #035E91;
    outline: 0;
  }
  
input[type=email]:focus {
    border: none;
    outline: 0;
  }
  input[type=password] {
    border: none;
    outline: 0;
  }
  
input[type=password]:focus {
    border: none;
    outline: 0;
  }
.signup:hover{
  color: rgb(0, 29, 29);
}
::placeholder {
  color: rgb(247, 247, 247);
  opacity: 0.7; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: rgb(247, 247, 247);
}

::-ms-input-placeholder { /* Microsoft Edge */
 color:rgb(247, 247, 247);
}